@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  width: 100%;
  height: 52px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.container-main-menu {
  width: 935px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 145px;
  height: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-instagram {
  font-size: 19.25px;
  color: #000;
}
.barra-logo {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
  margin-bottom: 2px;
}
.logo img {
  width: 103px;
  margin-top: 5px;
}
.pesquisar {
  background-color: #fafafa;
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.pesquisar::placeholder {
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

nav {
  width: 143px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 
    Fim Header
*/
.icones {
  font-size: 18px;
  color: #000;
  cursor: pointer;
}
/*
    Início conteúdo principal
*/

main {
  width: 100%;
}

.container {
  width: 935px;
  margin: 88px auto;
  display: flex;
  justify-content: space-between;
}
.container-principal {
  width: 614px;
}

/*
  Início Container stories
*/
.container-stories {
  width: 614px;
  height: 116px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.content-stories {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.storie {
  width: 66px;
  position: relative;
  margin-left: 14px;
  cursor: pointer;
}

.img-profile {
  position: absolute;
  top: 5px;
  left: 5px;
}

.img-profile:nth-child(8) {
  opacity: 0.5;
}

.nome-usuario-storie {
  width: 100%;
  display: flex;
  justify-content: center;
}
.storie p {
  font-size: 12px;
  font-weight: 400;
}

.proximo-stories {
}

.icone-arrow {
  position: absolute;
  right: 9px;
  cursor: pointer;
  font-size: 26px;
  color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
}

.retangulo {
  width: 28px;
  height: 100%;
  background-color: #fafafa;
  position: absolute;
  bottom: 0;
  left: 612px;
  border-left: 1px solid #dbdbdb;
}
.opacity {
  opacity: 0.7;
}

/*
  Início conteúdo feed
*/
.container-feed {
  width: 614px;
  height: 100vh;
  margin-top: 24px;
}
.content-feed {
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.titulo {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.usuario {
  width: 100px;
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.usuario h1 {
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
  cursor: pointer;
}

.usuario img {
  width: 32px;
  cursor: pointer;
}

.titulo ion-icon {
  margin-right: 17px;
}

.img-feed {
  width: 612px;
}
.footer-feed {
  width: 100%;
  height: 76px;
}
.actions {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-actions {
  width: 88px;
  margin-left: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark {
  margin-right: 18px;
}
.curtidas {
  height: 50%;
  display: flex;
  align-items: center;
  margin-left: 18px;
}

.curtidas img {
  width: 20px;
  cursor: pointer;
}

.curtidas p {
  margin-left: 5px;
}

/*
  Início Side bar
*/

.container-side-bar {
  width: 293px;
}

.profile-principal {
  display: flex;
  align-items: center;
  margin-top: 23px;
}
.nome-profile-principal {
  margin-left: 17px;
}

.nome-profile-principal h1 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #262626;
}

.nome-profile-principal p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16.41px;
  color: #8e8e8e;
}
.sugestoes-indice {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sugestoes-indice h1 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #8e8e8e;
}

.sugestoes-indice p {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: #262626;
}
.sugestoes-perfis {
  width: 100%;
}
.perfil-seguir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.perfil-foto-e-nome {
  display: flex;
}
.perfil-foto-e-nome img {
  width: 32px;
  cursor: pointer;
}
.perfil-foto-e-nome div {
  margin-left: 11px;
}

.perfil-foto-e-nome div h1 {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  line-height: 16px;
}

.perfil-foto-e-nome div p {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
  line-height: 16px;
}
.button-seguir {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #139ef2;
}

.rodape {
  margin-top: 33px;
}
.rodape h1,
.rodape h1 a,
.rodape h2 {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
  line-height: 13px;
}

.rodape h2 {
  margin-top: 18px;
}

.rodape h1 a:hover {
  text-decoration: underline;
}
